body {background-color: #0F0F7F;}

p
{
	font-size: 16px;
	font-family: "MS Gothic";
	color: #0F7F0F;
	border-radius: 8px;
	border: 4px solid #0F7F0F;
	padding: 4px;
	margin: 2px;
	background-color: #7F0F0F;
}

#table_0
{
	width: 256px;
	font-size: 16px;
	font-family: "MS Gothic";
	color: #0F7F0F;
	border-radius: 8px;
	border: 4px solid #0F7F0F;
	margin: left;
	background-color: #7F0F0F;
}